.main{
  background-image: url("./../../../assets/image/Background\ \(1\).png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}